body{
margin: 0;
padding: 0;
line-height: 30px;
background-image:url("images/donut.jpg");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
color: black;
font-size: 25px;
}

#header div {
	width :960px;
	margin :0 auto;
	height :200px;
	position :relative;
}
#header div a img {
	border :0;
	float :right;
	overflow :hidden;
}
#header div img.logo {
	width: 160px;
	height: 100px;
	border :0;
	float :left;
	overflow :hidden;
	margin-top :40px;
}
#header div ul.navigation {
	margin :0;
	padding :0;
	list-style-type :none;
	position :absolute;
	left :0px;
	top :160px;
	overflow :hidden;
	width :620px;
}
#header div ul.navigation li {
	float :left;
}
#header div ul.navigation li:first-child a {
	padding-left :0;
}
#header div ul.navigation li a {
	text-decoration :none;
	padding :0 30px;
	
	font-family :'Lobster1.4Regular';
	font-size :25px;
	color :#000055;
	font-size :25px;
}

#body {
	width :960px;
	margin :0 auto;
	overflow :hidden;
}
#body .featured {
	width :960px;
	overflow :hidden;
	margin-bottom :0;
}
#body .featured img {
	border :0;
}
#body div#section div.section div div a.price span {
	display :block;
	font-family :'LimelightRegular';
	font-size :24px;
	color :#ebe9d7;
	#body .content div div form label {
	display :block;
}
#body div ul li img.